.post-card {
    display: flex;
    flex-direction: column;
    outline: solid 1px #eee;
    border-radius: 10px;
    overflow: hidden;
    margin: 5% 5%;
}

.post-card .post-info {
    height:7vh;
    background-size:cover;
    background-position: center;
    width:100%;
    margin: 15px 0;
}

.post-card .post-info .post-profile-pic {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: relative;
    top:30px;
    left:2px; 
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

.post-card .post-info .post-profile-name {
    display: flex;
    align-items: flex-end;
    padding-left:10px;
    color:#222;
    
}
.post-profile-pic {
    background-color: white;
  
    background-size: cover;
    background-position: center;
  } 

  .post-card .post-info .post-profile-name span {
    padding:4px;
    border-radius: 5px;
    position: relative;
    top:15px;
}

.post-date {
    margin-top:5px;
    margin-right:2px;
    padding:0 5px;
}
.post-content {
    padding:15px;
}

.post-date {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
}
.post-date p {
    margin:0;
}
.post-actions {
    
    padding:12px;
    border-bottom:solid 1px #eee;
    border-top: solid 1px #eee;
}